<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    body{
        background-color: red;
    }
    </style>
</head>
<body>
    <div class="continer">
        <div class="h1">You are a Terrible Person</div>

        <div class="h3">You cannot delete other people's messages, only those sent to you!</div>

        <p>Your ip address is {{ ip_info['ip'] }} and your computer's name is {{ ip_info['comp_name'] }}. Both have been recorded.</p>
        <p>If you attemtp to delete a message that isn't yours again, you will be reported to all the peoples.</p>

    </div>
</body>
</html>
